TIMESCALE_DATABASE_URL="postgres://postgres:test-password@timescale-db:5432/pragma"
POSTGRES_DATABASE_URL="postgres://postgres:test-password@postgre-db:5432/pragma"
BROKERS="pragma-kafka:29092"
TOPIC="pragma-data"
GROUP_ID="pragma-data"